@page "/"
@using TestFluxorStore.Core.Features.Test.DTOs;
@using TestFluxorStore.Features.Test.LoadTests.Actions;
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h1>Hello, world! MAUI Page</h1>

Welcome to your new app.

<ul>
    @foreach(Post post in TestState.Value.Posts)
    {
        <li>@post.Title</li>
    }
</ul>


